<table>
<tr>
<th></th>
<th>from-case</th>
<th>at-case</th>
<th>to-case</th>
<th>via-case</th>
</tr>
<tr>
<th>base</th>
    <td>nominative-case</td>
    <td>accusative-case</td>
    <td>dative-case</td>
    <td>instrumental-case</td>
</tr>
<tr>
<th>near-subcase</th>
<td>ablative-case</td>
<td>locative-case</td>
<td>allative-case</td>
<td>prosecutive-case</td>
</tr>
<tr>
<th>in-subcase</th>
<td>elative-case</td>
<td>inessive-case</td>
<td>illative-case</td>
<td>perlative-case</td>
</tr>
<tr>
<th>on-subcase</th>
<td>delative-case</td>
<td>superessive-case</td>
<td>sublative-case</td>
<td>vialis-case</td>
</tr>
<tr>
<th>state-marker</th>
<td>exessive-case</td>
<td>essive-case</td>
<td>translative-case</td>
<td>prolative-case</td>
</tr>
<tr>
<th>social-marker</th>
<td>causal-case</td>
<td>comitative-case</td>
<td>benefactive-case</td>
<td>evidential-case</td>
</tr>
<tr>
<th>time-marker</th>
<td>initial-time</td>
<td>temporal-case</td>
<td>final-time</td>
<td>during-time</td>
</tr>
<tr>
<th>address-marker</th>
<td>initiative-case</td>
<td>vocative-case</td>
<td>terminative-case</td>
<td></td>
</tr>
<tr>
<th>amount-marker</th>
<td>partitive-case</td>
<td>multiplicative-case</td>
<td>distributive-case</td>
<td></td>
</tr>
</table>
