<dl>
<dt>admonitive-mood</dt>
<dd>warning, I warn you that <br/>
for SPEL error messages</dd>
<dt>affirmative-mood</dt>
<dd>agreeingly, I agree that <br/>
for SPEL selection of correct output,
as per reinforcement learning or genetic algorithms</dd>
<dt>apprehensive-mood</dt>
<dd>fearfully, I fear that <br/>
for SPEL throwing exceptions </dd>
<dt>assumptive-mood</dt>
<dd>assumingly, I assume that<br/>
for SPEL assert statements</dd>
<dt>conditional-mood</dt>
<dd>if such and such <br/>
for SPEL conditional clauses
</dd>
<dt>commissive-mood</dt>
<dd>I commit to, I promise that <br/>
for SPEL setting calendar events,
and personal virtue goals.
also for unit-tests <br/>
for Parliment, to send motion to comittee</dd>
<dt>declarative-mood</dt>
<dd>definitely, I declare that <br/>
for SPEL function declaration</dd>
<dt>deductive-mood</dt>
<dd>deductively, I deduce that</dd>
<dt>deliberative-mood</dt>
<dd>shall I?, do you think that? <br/>
for SPEL asking user input</dd>
<dt>deonitic-mood</dt>
<dd>I should, I ought to, I plan that<br/>
for SPEL pseudo-code</dd>
<dt>delayed imperative</dt>
<dd>in future do that <br/>
for SPEL, scheduled jobs
</dd>
<dt>desiderative-mood</dt>
<dd>I want to, I desire that <br/>
for SPEL near term goal setting</dd>
<dt>dubitative-mood</dt>
<dd>doubtfully, sarcastically, I doubt that <br/>
for SPEL for inverse assert statements</dd>
<dt>epistemic-mood</dt>
<dd>perhaps, I consider it possible that</dd>
<dt>eventive-mood</dt>
<dd>in the event that <br/>
for SPEL event catchers
</dd>
<dt>imperative-mood</dt>
<dd>you must, I command that
for SPEL, imperative programming sentence
</dd>
<dt>indicative-mood</dt>
<dd>indicating the real, I indicate that<br/>
for SPEL variable declaration</dd>
<dt>interoggative-mood</dt>
<dd>questioningly, I question that <br/>
for SPEL search queries</dd>
<dt>irrealis-mood</dt>
<dd>unreal sentence, it isn't real that <br/>
for SPEL comments</dd>
<dt>jussive-mood</dt>
<dd>tell them to, I command them that. <br/>
for SPEL issuing commands to remote location</dd>
<dt>necessitative-mood</dt>
<dd>I need that <br/>
for SPEL listing of required libraries</dd>
<dt>optative-mood</dt>
<dd>I wish that <br/>
for SPEL long term goal setting
</dd>
<dt>potential-mood</dt>
<dd>possibly, I consider it possible that</dd>
<dt>permissive-mood</dt>
<dd>I permit that <br/>
for SPEL setting and limiting priviliges<br/>
for Parliament set limits of debate</dd>
<dt>precative-mood</dt>
<dd>I request that <br/>
for SPEL making network requests</dd>
<dt>prohibitive-mood</dt>
<dd>don't, I forbid that <br/>
for SPEL, blocking certain things, 
or ignoring certain inputs</dd>
<dt>propositive-mood</dt>
<dd>I suggest that, I propose that <br/>
for Parliment as a main motion starter 
in deliberative discussion</dd>
<dt>realis-mood</dt>
<dd>It is real that</dd>
<dt>sensory-evidential-mood</dt>
<dd>evidence I've experienced tells me that <br/>
for Parliament or Court, to bring evidence before the assembly,
can also use evidential markers or evidential-case
</dd>
<dt>subjunctive-mood</dt>
<dd>unreal clause</dd>
<dt>speculative-mood</dt>
<dd>speculatively, I guess that</dd>
<dt>volitive-mood</dt>
<dd>desires, wishes or fears</dd>

</dl>
